.ingredients {
  width: 680px;
  height: 560px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ingredients h2 {
  display: flex;
  justify-content: center;

  width: 320px;
  height: 28px;
  font-weight: 400;

  margin-bottom: 24px;
  margin-top: 16px;

  color: #8e0000;
}

.ingredients button {
  width: 680px;
  height: 51px;
  font-weight: 400;

  font-family: "Roboto";

  background: #c62828;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border: 0;
  border-radius: 40px;
  margin-bottom: 16px;
}
